
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ template "_internal/schema.html" . }}
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}
    <meta property="og:title" content="Judul Artikel Anda">

<meta property="og:description" content="{{ or .Params.description .Summary }}">

<meta property="og:image" content="/image/{{ .Params.featured_image }}">

<meta property="og:url" content="{{ .Permalink }}">

<!-- css ku -->
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="/assets/image/jumbotron.png">
    <title>{{ .Title }}</title>
</head>








